*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    color:#e5e5e5;
    font-family: 'Quicksand';

}
:root{
    --hitam-gray-color:#1A3636;
    --hijau-gelap-color:#1A3636;
    --biru-gelap-color:#1e2d37;
}
body{
    overflow-x: hidden;
    min-height: 200vh; /* 200% dari tinggi layar, jadi bisa scroll */
    background: #222;
}
.hero-header{
    width:100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}
.home{
    width:1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 150px;
}
header{
    width:100%;
    padding: 40px 140px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-wrap: wrap;   
    position: fixed; 
    z-index: 2;
    background-color: #222;
    /* backdrop-filter:blur(7px); */
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}   
.logo .frame-logo{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5); 
    margin-right: 10px;
}
.frame-logo img{
    height: 130%;
    width:130%;
    transition: 0.5s;
    margin-left: -7px;
    margin-top: -6px;
}

.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:#fff;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width:100%;
    height:3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
     color:#e5e5e5;
     margin-right: 2.5rem;
     padding-bottom: 3px;
}
nav .navlinks li a:hover,
nav .navlinks li a:active{
    color: #007ced;
    border-bottom: 3px solid #007ced;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:4rem;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.hero-pic img{
    height: 100%;
    width:100%;
    transition: 0.5s;
    cursor: pointer;
}
.hero-pic img:hover{
    transform: scale(1.123);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    /* transition: 1.5s ease-in-out; */
}
.hero-text h5{
    color:#e5e5e5;
    font-size: 14px;
}
.hero-text h5 span{
    color:#007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #007ced;
    font-size: 3rem;
    /* padding-left: -1px; */
    margin-left: -2.6px;
    transition: 1.2s ease-in-out;
}
.hero-text p{
    color:#e5e5e5;
    text-align: justify;
}
.btn-group{
    margin:45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color:#fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right:7px;
    border-radius: 30px;
    border:2px solid #e5e5e5;
    /* box-shadow:  0 10px 10px -8px rgb(0 0 0 / 78%); */
}
.btn:hover{
    box-shadow: 0 0 20px #ffffff ;
}
.btn.active{
    border-color: #007ced;
}
.btn.active:hover{
    box-shadow: 0 0 20px #007ced ;
}

.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color:#007ced;
    transform: rotate(360deg);
}

/* about */
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 9.27%;
}
 
.about{
    gap: 290px;
    margin-top: 120px;
    background-color: var(--biru-gelap-color);
    min-height: 83vh;
    display: flex;
}

.about_image{
    width: 50%;
    position: relative;
}
.about_image img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(105, 157, 253);
    transition: 0.5s;
    cursor: pointer;
}

.about_image img:hover{
    transform: scale(1.123);
}

.about_image .about_small-1{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 70%;
    object-fit: cover;
    left:-15%;
    z-index: 1;
}

.about_image .about_small{
    width: 120px;
    height: 120px;
    position: absolute;
    top: -14%;
    object-fit: cover;
    left:70%;
}

.about_content{
    width: 50%;
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;
    gap: 10px;
    text-align: justify;
}

.about_content h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Quicksand';
}
.content2{
    display: none;
}
/* Costum Scroll Bar */
/* ::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #222;   
} */

/* Respnosiv design & displaying navbar for small screen */
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /* for toggle button**/
    .click {
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top:12px
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin:0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .navlinks{
        position: absolute;
        top:110px;
        right:-100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right:0;
    }
}
@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top:2rem
    }
    .hero-text{
        padding:40px 0px;
    }
}

/* @media (max-width:395px) {
    body{
        overflow-x: hidden;
    }
    .hero-text h1{
        font-size: 2.7rem;
    }
    .container .hero-pic{
        margin-top: -45px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        border: 15px solid #444;
        box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
    }
    .hero-pic img{
        height: 100%;
        width:100%;
        transition: 0.5s;
        cursor: pointer;
    }
    .hero-pic img:hover{
        transform: scale(1.123);
    }
} */

@media (max-width:360px) {
    .hero-text h1{
        font-size: 2.5rem;
    }
}

@media (max-width:750px) {
    header{
        direction: flex;
        padding-left: 9%;
    }
}

/* mobile about */
@media (max-width:500px) {
    body{
        overflow-x: hidden;
    }
    header{
        direction: flex;
        padding-left: 9%;   
    }
    .hero-text h1{
        font-size: 2.7rem;
        color: #007ced;
        /* padding-left: -1px; */
        margin-left: -2.6px;
        /* transition: 1.5s ease-in-out; */
    }
    .container .hero-pic{
        margin-top: -45px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        border: 15px solid #444;
        box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
    }
    .hero-pic img{
        height: 100%;
        width:100%;
        transition: 0.5s;
    }
    .hero-pic img:hover{
        transform: scale(1.123);
    }
     .about{
        overflow-x:hidden ;
        min-height: 100vh;
        margin-top: 0px;
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px; /* Sesuaikan jarak antara gambar dan teks */
    }

    .about_image,
    .about_content {
        display: flex;
        width: 100%;
        text-align: center; /* Agar teks berada di tengah */
    }
    section .about_image{
        display: flex;
        width: 0%;
        height: auto;
        margin-right: 400px;
        transform: none;
        transition: none;
        position: relative;
    }
    .about_image .main,
    .about_image .main:hover{
        padding: 0 30px;
        box-shadow: none;
        transform: none;
        transition: none;
    }
    .about_image .about_small {
        position: absolute;
        width: 70px;
        height: 70px;
        left: 10px;
    }
    .about_image .about_small-1{
        position: absolute;
        width: 70px;
        height: 70px;
        top: 90%;
        left: 320px;
    }
    .about_content h1{
        font-size: 2rem;
    }
    .about_content p{
        display: none;
    }
    .content2{
        width: 100%;
        display: flex;
        flex-direction: column;  
        justify-content: flex-start;
        text-align: justify;
    }
}
